div.trade

  table
    tr
      td(style='padding-bottom:1em')
        h2 Trade #${index}
      td
        span
          a.small-button(href='/logout') (un)Publish
        span(style='margin-left:1em')
          a.small-button(href='/logout') Clear
    tr
      td
        h3 Your Offerings
        h4 These are the items you will give in the trade.
        div.row
          div.itemw
            div.item.have
          div.itemw
            div.item.have
          div.itemw
            div.item.have
          div.itemw
            div.item.have
        div.row
          div.itemw
            div.item.have
          div.itemw
            div.item.have
          div.itemw
            div.item.have
          div.itemw
            div.item.have
      td(rowspan=2, style='vertical-align:top')

    tr
      td
        h3(style='padding-top: 1em') Your Wishlist
        h4 These are the items you want to receive in the trade.
        div.row
          div.itemw
            div.item.want
          div.itemw
            div.item.want
          div.itemw
            div.item.want
          div.itemw
            div.item.want
        div.row
          div.itemw
            div.item.want
          div.itemw
            div.item.want
          div.itemw
            div.item.want
          div.itemw
            div.item.want



