div.trade

  table
    tr
      td
        div.row
          div.itemw
            div.item
          div.itemw
            div.item
          div.itemw
            div.item
          div.itemw
            div.item
        div.row
          div.itemw
            div.item
          div.itemw
            div.item
          div.itemw
            div.item
          div.itemw
            div.item
        span Have
      td.pl1
        div.row
          div.itemw
            div.item.want
          div.itemw
            div.item.want
          div.itemw
            div.item.want
          div.itemw
            div.item.want
        div.row
          div.itemw
            div.item.want
          div.itemw
            div.item.want
          div.itemw
            div.item.want
          div.itemw
            div.item.want
        span Want
      td.valign-top
        div.center.text-center Trade #${index} &nbsp;
        div.center.text-center Publish | Unpublish | Clear
        div
          textarea.notes
        div Notes



