div.trade.mb1

    div.line.debug
        div.unit.size1of2.debug
            h2 Trade #${index}
            a.set-trade.null.small-button(href='#') publish
            a.clear-trade.null.small-button(href='#') clear
        div.unit.lastUnit.size1of2
            h4 Notes:
            .trade-notes
                textarea


    h3 Your Offerings
    h4.null These are the items you will give in the trade.

    div.haves
        div.itemw
            div.item.have
        div.itemw
            div.item.have
        div.itemw
            div.item.have
        div.itemw
            div.item.have
        div.itemw
            div.item.have
        div.itemw
            div.item.have
        div.itemw
            div.item.have
        div.itemw
            div.item.have

    h3 Your Wishlist
    h4.null These are the items you want to receive in the trade.

    div.wants
        div.itemw
            div.item.want
        div.itemw
            div.item.want
        div.itemw
            div.item.want
        div.itemw
            div.item.want
        div.itemw
            div.item.want
        div.itemw
            div.item.want
        div.itemw
            div.item.want
        div.itemw
            div.item.want
