.trade.mb1

    h1
        span.main ${prefix} Trade ${tid}
        span.status

    .line
        .unit
            h3 Your Offerings
        .unit.lastUnit
            .help These are the items you will give in the trade.

    .haves
        .itemw
            .item.have
        .itemw
            .item.have
        .itemw
            .item.have
        .itemw
            .item.have
        .itemw
            .item.have
        .itemw
            .item.have
        .itemw
            .item.have
        .itemw
            .item.have

    .line.mt1
        .unit
            h3 Your Wishlist
        .unit.lastUnit
            .help These are the items you want to receive in the trade.

    .wants
        .itemw
            .item.want
        .itemw
            .item.want
        .itemw
            .item.want
        .itemw
            .item.want
        .itemw
            .item.want
        .itemw
            .item.want
        .itemw
            .item.want
        .itemw
            .item.want

    .mb2
        .button-bar
            a.trade-submit.small-button(href='#') submit
            a.trade-notes.small-button(href="#") notes
            a.trade-delete.small-button(href='#') close

        .mt1
            pre.trade-show-notes
            .trade-edit-notes.null
                textarea

