.trade.mb1

    h1
        span.main ${prefix} Trade ${tid}
        span.status

    .line
        .unit
            h3 Your Offerings
        .unit.lastUnit
            .help These are the items you will give in the trade.

    .haves
        .itemw
            .item.have

    .line.mt1
        .unit
            h3 Your Wishlist
        .unit.lastUnit
            .help These are the items you want to receive in the trade.

    .wants
        .itemw
            .item.want

    div
        .button-bar
            a.submit.small-button(href='#') submit
            a.notes.small-button(href="#") notes
            a.delete.small-button(href='#') close
            a.match.small-button(href='#') match

        .mt1
            pre.notes
            div.notes.null
                textarea

