@import 'helpers'


dark-gray = #222
medium-gray = #5c5c5c


body, html
  height 100%


body
  color white
  background-color medium-gray
  font normal 1em sans-serif


.strike
  text-decoration line-through


p
  margin-bottom 1em


h1
  font-size 1.5em
  text-shadow 1px 1px 2px white

#content
  padding 0.5em


.null
  display none

#backpack-container
  background-color black;
  width 90px*11

#backpack
  padding 12px
  overflow-y scroll
  height 90px*5

#backpack-navs
  n-border 1px solid yellow
  width 90px*10
  text-align right
  padding 24px


#backpack-navs span.nav
  color dark-gray
  background-color medium-gray
  border-r(6px)
  height 24px
  line-height 24px
  padding 6px 9px 6px 9px
  text-align center
  vertical-align middle

#backpack-navs span.nav.prev
  margin-right 1em


div.row
  height 90px


div.row.bot
   margin-bottom 24px

div.item
  display inline-block
  border 3px solid dark-gray
  border-r(12px)
  width 80px
  height 80px
  vertical-align top
  margin-right 4px


div.item:hover:not(:empty)
  border 3px solid medium-gray
  background-color dark-gray


div.item img
  border none
  width 72px
  height 72px
  margin-left 4px
  margin-top 4px

span.nav
  display inline-block
  height 24px
  width 24px
  border-r(3px)
  background-color dark-gray
  color medium-gray

::-webkit-scrollbar
  width 18px
  height 10px


::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment
  height 30px
  display block
  background-color transparent



::-webkit-scrollbar-track-piece
  background-color #3b3b3b
  -webkit-border-radius 6px


::-webkit-scrollbar-thumb:vertical
  height 50px
  background-color dark-gray
  border 1px solid medium-gray
  -webkit-border-radius 6px



