@import 'helpers'
@import 'fonts'


blk = #000
wht = #fff
gray1 = #202020
gray2 = #404040
gray3 = #606060
gray4 = #808080
gray5 = #a0a0a0
gray6 = #c0c0c0
gray7 = #e0e0e0



item_w = 80px
item_h = item_w * 0.85
base_w = 12px
bord_w = (base_w / 4)


pal_brown1 = #F6E7DE
pal_brown2 = #DABDAB
pal_brown3 = #C1A18A
pal_brown4 = #6A4534
pal_brown5 = #452C25

pal_orange1 = #F8B98A
pal_orange2 = #F5AD87
pal_orange3 = #EF9849
pal_orange4 = #F18149

pal_red1 = #913A1F
pal_red2 = #BD3A3A
pal_red3 = #9D302F


pal_gray1 = #454545
pal_gray2 = #1F1F1F

pal_blue1 = #768A88
pal_blue2 = #5B7A8C
pal_blue3 = #385C78

body, html
  height 100%
  padding (base_w / 2)


body
  color gray7
  background-color gray2
  font-family "TF2secondary"


h1, h2, h3, h4
  font-family "TF2Build"

h1
  font-size 125%

a, a:visited, a:active, a:hover
  color white
  text-decoration none



#backpack-container, #chooser-container, #trades-container
  background-color black

#backpack-container, #chooser-container
  margin 0


div.row
  height item_h + base_w


div.row.bot
   margin-bottom base_w * 1.5


div.itemw
  display inline-block

div.item
  display inline-block
  border bord_w solid gray1
  border-r(base_w)
  width item_w
  height item_h
  vertical-align top
  margin-right bord_w * 2


div.item:hover:not(:empty)
  border 3px solid gray5
  background-color white


div.outline
  border 3px solid gray5
  background-color gray2


div.untradable
  background-color gray2


#itemtip .untradable
  background-color inherit


div.item img
  border none
  width item_w - bord_w * 2
  height item_w - bord_w * 2


qual(1,  #4d7455, #3a5840) // genuine
qual(2,  #b2b2b2, #706e6e) // rare
qual(3,  #476291, #6279a1) // vintage
qual(5,  #874fad, #5a3c6b) // unusual
qual(6,  #ffd800, #9d8617) // unique
qual(7,  #70b04a, #4f6d3a) // community
qual(8,  #a50f79, #691c51) // developer
qual(9,  #70b04a, #4f6d3a) // self-made
qual(10, #70b04a, #4f6d3a) // custom
qual(11, #cd9b1d, #423618) // strange

.z-top
  z-index 9000

#itemtip
  opacity(0.95)
  background-color gray2
  border bord_w - 1 solid #ccc
  border-r(bord_w * 3)
  padding base_w * 2
  margin base_w
  position absolute
  text-align center
  z-index 9000
  overflow hidden


#itemtip div
  font-family "TF2secondary"

#itemtip .name
  font-family "TF2Build"

#itemtip .level
  color #756b5e

#itemtip .ctrl
  color #fff
  text-align left
  font-family Andale Mono, monospace
  font-size: 0.75em

#itemtip .alt
  color #e4dbc4
  white-space nowrap

#itemtip .positive, #itemtip .crafter
  color #8dbceb

#itemtip .negative
  color #eb3b3b

#itemtip .limiteduse
  color green




.deco
  width 80px
  height 68px
  position relative

.tag
  background-repeat no-repeat
  background-position left top

.tag-5020
  background-image url('/images/tags/5020.png')

.tag-5044
  background-image url('/images/tags/5044.png')

.tag-5020-5044
  background-image url('/images/tags/5020-5044.png')

.jewel
  background-repeat no-repeat
  background-position right top

jwl(1)
jwl(10843461)
jwl(12955537)
jwl(1315860)
jwl(13595446)
jwl(14204632)
jwl(15132390)
jwl(15185211)
jwl(4345659)
jwl(5322826)
jwl(6901050)
jwl(7511618)
jwl(8154199)
jwl(8208497)
jwl(8289918)
jwl(8421376)
jwl(15787660)
jwl(3100495)
jwl(15308410)
jwl(3329330)
jwl(16738740)



.effect
  background-repeat no-repeat
  background-position center center

eff(4)
eff(6)
eff(7)
eff(8)
eff(9)
eff(10)
eff(11)
eff(12)
eff(13)
eff(14)
eff(15)
eff(16)
eff(17)
eff(18)
eff(19)
eff(20)
eff(99) // earbuds


div.badge
  background-color #fff
  font-family "TF2secondary"
  color gray2
  border-r(6px)
  font-size 8pt
  position absolute
  padding 4px


div.equipped
  top 48px
  left 26px


div.quantity
  top 3px
  left 3px


.button, .small-button, .nav-button
  background-color black
  border-r(0.35em)
  color lighten(black, 75%)
  font-family "TF2Build"
  text-align center
  vertical-align middle
  white-space nowrap !important
  display inline-block
  padding 0.5em
  background -moz-linear-gradient(top, #dcd2ba, #9a8b6b)
  background -webkit-gradient(linear, left top, left bottom, from(#dcd2ba), to(#9a8b6b))


.button:hover, .small-button:hover
  background-color pal_red3
  background-color #512a20
  background  -moz-linear-gradient(top, #995040, #512a20)
  background  -webkit-gradient(linear, left top, left bottom, from(#995040), to(#512a20))


.button:active, .small-button:active
  color lighten(black, 50%)

.small-button
  font-size 80%
  color white

.nav-button
  font-size 200%

#usernav
  border-r(bord_w * 4)
  border bord_w solid gray6
  background-color black
  padding bord_w * 4

.button-bar a.small-button
  margin-right 1em


#backpack, #trades
  color wht
  background-color blk
  position relative
  overflow hidden


#trades
  background-color darken(#a0a0a3, 5%)



#channelnav
  background-color darken(#a0a0a3, 10%)
  border-r(bord_w * 4)
  border bord_w solid blk
  padding bord_w * 4

#channel

#top
  border-r(bord_w * 3)
  padding bord_w * 3
  border bord_w solid blk
  color blk
  background-color wht

#top, #main, #usernav, #channelnav, #channels
  margin-bottom (base_w / 2)


.msg
  height 2em


div.bpnav
  line-height 2em

  div, a
    height 1.5em
    width 1.5em
    font-family "TF2Build"
    vertical-align middle
    text-align center
    line-height 1.5em
    display inline-block

  .non, .nav
    background-color pal_red1
    border-r(0.25em)

  .non
    color pal_gray2

  .count
    width 4em



.page
  display inline-block
  float left
  white-space nowrap !important

.bpscroll
  overflow hidden
  width 920px
  height item_h * 6

.bpshell
  margin-top base_w
  text-align center
  width (item_w * 12) * 20
  height item_h * 6
