@import 'helpers'


dark-gray = #222
medium-gray = #5c5c5c


body, html
  height 100%


body
  color white
  background-color medium-gray
  font normal 1em sans-serif


.strike
  text-decoration line-through


p
  margin-bottom 1em


h1
  font-size 1.5em
  text-shadow 1px 1px 2px white

#content
  padding 0.5em


.null
  display none

#backpack-container
  background-color black;
  width 90px*6

#backpack
  padding 12px
  overflow-y scroll
  height 90px*5


div.row
  height 78px


div.row.bot
   margin-bottom 18px


div.item
  display inline-block
  border 3px solid dark-gray
  border-r(12px)
  width 80px
  height 68px
  vertical-align top
  margin-right 4px


div.item:hover:not(:empty)
  border 3px solid medium-gray
  background-color dark-gray


div.item img
  border none
  width 66px
  height 66px
  margin-left 4px
  margin-top 4px

span.nav
  display inline-block
  height 24px
  width 24px
  border-r(3px)
  background-color dark-gray
  color medium-gray


qual(1,  #4d7455, #3a5840) // genuine
qual(2,  #b2b2b2, #706e6e) // rare
qual(3,  #476291, #6279a1) // vintage
qual(5,  #874fad, #5a3c6b) // unusual
qual(6,  #ffd800, #9d8617) // unique
qual(7,  #70b04a, #4f6d3a) // community
qual(8,  #a50f79, #691c51) // developer
qual(9,  #70b04a, #4f6d3a) // self-made
qual(10, #70b04a, #4f6d3a) // custom
qual(11, #cd9b1d, #423618) // strange



::-webkit-scrollbar
  width 18px
  height 10px


::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment
  height 30px
  display block
  background-color transparent



::-webkit-scrollbar-track-piece
  background-color #3b3b3b
  -webkit-border-radius 6px


::-webkit-scrollbar-thumb:vertical
  height 50px
  background-color dark-gray
  border 1px solid medium-gray
  -webkit-border-radius 6px





