@font-face
  font-family "TF2"
  src url("/fonts/TF2.ttf")

@font-face
  font-family "TF2Build"
  src url("/fonts/TF2Build.ttf")

@font-face
  font-family "TF2secondary"
  src url("/fonts/TF2secondary.ttf")

