::-webkit-scrollbar
  width 18px
  height 10px


::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment
  height 30px
  display block
  background-color transparent



::-webkit-scrollbar-track-piece
  background-color #3b3b3b
  -webkit-border-radius 6px


::-webkit-scrollbar-thumb:vertical
  height 50px
  background-color dark-gray
  border 1px solid medium-gray
  -webkit-border-radius 6px



