div.player.status
    .line
        .unit
            a(href="#", target="_new")
                img.avatar.status.null
        .unit.lastUnit
            a(href="#", target="_new")
                span.name.null.text-middle

