.chshell.null
    div.line.mt05

        div.chchat.unit.size1of2
            div.debug.unit.size3of4
                div.chtalk
                div.chsay.debug
                    input(type="text")

            div.chusers.debug.unit.lastUnit.size1of4

        div.chtrade.unit.lastUnit.size1of2
            | trades for this chan

