.shell.null.mb2

    .line.mt1

        .unit.size1of2.mr1
            h2 Chat
            .line
                .unit.size3of4
                    .talk

                .unit.size1of4.lastUnit
                    .users.mb2
            .foo
                .say.null
                    input.mr1(type="text")
                .anon.null
                    span You have to log in to chat.

        .unit.size1of2.lastUnit
            h2 Trades
            .trades



