.chshell.null

    table(width="100%")
        tr
            td(width="50%")
                .chchat
                    table(width="100%")
                        tr
                            td(width="65%")
                                .chtalk(style="height:200px")
                                .chsay
                                    input(type="text")
                            td(width="35%")
                                .chusers.debug2

            td(width="50%")
                .chtrade
                    h2 trades for this chan
