.shell.null

    table(width="100%")
        tr
            td(width="50%")
                h2 Chat with Traders
                .chchat
                    table(width="100%")
                        tr
                            td(width="65%")
                                .chtalk(style="height:200px")
                                .chsay.null
                                    input(type="text")
                                .chanon.null
                                    span You have to log in to chat.
                            td(width="35%")
                                .chusers.debug2

            td(width="50%")
                .chtrade
                    h2 Trades in this Channel
