.trade.mb1.null

    h1
        span.main ${prefix} ${tid}
        span.status
        span.who

    .line
        .unit
            h3 Offerings
        .unit.lastUnit
            .help These are the items the player will give in the trade.

    .haves

    .line
        .unit
            h3 Wishlist
        .unit.lastUnit
            .help These are the items the player wants to receive in the trade.

    .wants

    div
        pre.notes
