!!! 5
html(lang="en")
  head
    != SocketStream
    title TF2 Trade Chan
  body
    #tooltip.null
      div.name
      div.level
      div.crafter
      div.killeater
      div.positive
      div.negative
      div.alt
      div.neutral
      div.limiteduse
      div.ctrl

    #content
      h1 welcome to tf2 trade chan (3)

      #message-container
        span#message
        span#login.null
          a(href='/authenticate')
            img(src='http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_small.png')
        span#logout.null
          a(href='/logout') logout

      #user-container.null
        table
          tr
            td
              #backpack-container
                h2#backpack-title your backpack
                #backpack-msg
                #backpack
            td
              #trades-container
                h2#trades-title your trades
                #trades-msg
                #trades



