!!! 5
html(lang="en")
    head
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js", type="text/javascript")
        script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js", type="text/javascript")
        != SocketStream
        title TF2 Trade Chan
    body
        #itemtip.null
            .name
            .level
            .crafter
            .killeater
            .positive
            .negative
            .alt
            .neutral
            .limiteduse
            .untradable
            .ctrl

        #main.line
           #view.unit.size4of5

                #user.null
                    .button-bar.mb1.bp
                        a(href="#", class="small-button", data-target="#backpack", data-loaded="") Show Backpack
                        span.msg Click this button to show your backpack.  You use your backpack to make trades.
                    #backpack.null
                        .bptools.null
                            include backpack_tools
                        .bpscroll
                            .bpshell

                    .button-bar.ch
                        a(href="#", class="small-button", data-target="#trades", data-loaded="") Show Trades
                        span.msg  Click this button to show your trades.
                    #trades.null
                        .tradescroll.debug.unit.size1of2
                            .tradeshell
                        .chooser.debug.unit.lastUnit.size1of2
                            .bptools.null
                                include backpack_tools
                            .bpscroll
                                .bpshell


                #channels
                    .channels-help.mb1
                        | Click on a channel name to join it.  You'll
                        | see trades as they are added to the channel,
                        | and you can chat with other channel members.

                    .chscroll.button-bar
                        .mb1
                            a(href="#", class="small-button off", data-channel-name="commodities") Commodites
                        .mb1
                            a(href="#", class="small-button off", data-channel-name="promos") Promos
                        .mb1
                            a(href="#", class="small-button off", data-channel-name="unusual_hats") Unusual Hats
                        div
                            a(href="#", class="small-button off", data-channel-name="vintage_hats") Vintage Hats

            #site.unit.size1of5.lastUnit
                h1 tf2 trade chan
                #message

                span#login.null
                    | Safe and Secure Login with Steam
                    a(href='/authenticate')
                        img(src='http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_small.png', height=23, width=154)
                span#logout.null
                    a.small-button(href='/logout') logout



