!!! 5
html(lang="en")
  head
    != SocketStream
    title TF2 Trade Chan
  body
    #tooltip.null
    #content
      h1 welcome to tf2 trade chan (3)

      h2 todo list:

      ol
        li.strike.
          openid auth
        li.strike.
          fetch backpack
        li.
          post trade
        li.
          show matches
        li.
          channels
        li.
          chats

      br
      p#message connecting...

      br
      #auth.null
        a(href='/authenticate')
          img(src='http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_large_border.png')

      br
      #user.null
        a(href='/logout') logout


      br
      #backpack-container
        #backpack-msg
        #backpack.null



