!!! 5
html(lang="en")
  head
    != SocketStream
    title TF2 Trade Chan
  body
    #tooltip.null
      div.name
      div.level
      div.crafter
      div.killeater
      div.positive
      div.negative
      div.alt
      div.neutral
      div.limiteduse
      div.untradable
      div.ctrl

    #message-container
      h1 tf2 trade chan
      div.w49.float-left
        #message
      #user-tools.w49.float-right
        span#login.null
          | Safe and Secure Login with Steam
          a(href='/authenticate')
            img(src='http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_small.png')
        span#logout.null
          a.small-button(href='/logout') logout

      .clear-both


    #content


      #user-container.null.mt1
        #user-container-left
          #backpack-container
            h2#backpack-title your backpack
            #backpack-help.pb1 Drag items into your trades.  Double-click works, too.
            #backpack-msg
            .w
              #backpack
          #chooser-container
            h2#chooser-title more stuff
            #chooser-help.pb1 Drag items you want into your trades.  Double-click works, too.
            #chooser-msg
            .w
              #chooser

        #user-container-right
          #trades-container
            h2#trades-title your trades
            #trades-help.pb1
              | Remove items by double click.
            #trades-msg
            .w
              #trades


        #user-container-clear
