!!! 5
html(lang="en")
    head
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js", type="text/javascript")
        script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js", type="text/javascript")
        != SocketStream
        title TF2 Trade Chan
    body
        #itemtip.null
            .name
            .level
            .crafter
            .killeater
            .positive
            .negative
            .alt
            .neutral
            .limiteduse
            .untradable
            .ctrl

        #main.line
           #view.unit.size4of5
                #user.null
                    .button-bar
                        a(href="#", class="small-button", data-target="#backpack", data-loaded="") Backpack
                        a(href="#", class="small-button", data-target="#trades", data-loaded="") Trades
                        span.msg
                        | Filter:&nbsp;
                        select.bpfilters
                            option(data-filter="*") All
                            option(data-filter=".commodity") Commodities
                            option(data-filter=".promo") Promos
                            option(data-filter=".wearable") Hats and Wearables
                            option(data-filter=".weapon") Weapons
                            option(data-filter="") ---
                            option(data-filter=".vintage") Vintage - All
                            option(data-filter=".vintage.wearable") Vintage - Hats
                            option(data-filter=".vintage.weapon") Vintage - Weapons
                            option(data-filter="") ---
                            option(data-filter=".unusual") Unusual - All
                            option(data-filter=".unusual.wearable") Unusual - Hats
                            option(data-filter=".unusual.weapon") Unusual - Weapons
                            option(data-filter="") ---
                            option(data-filter=".genuine") Genuine - All
                            option(data-filter=".genuine.wearable") Genuine - Hats
                            option(data-filter=".genuine.weapon") Genuine - Weapons
                            option(data-filter="") ---
                            option(data-filter=".strange") Strange - Weapons

                        | &nbsp;&nbsp; Sort: &nbsp;
                        select.bpsorts
                            option(data-sort="*") Original
                            option(data-sort="quality") Quality
                            option(data-sort="date") Date - Oldest to Newest
                            option(data-sort="date_desc", data-desc="1") Date - Newest to Oldest
                            option(data-sort="level") Level - Low to High
                            option(data-sort="level_desc", data-desc="1") Level - High to Low
                            option(data-sort="name") Name - A to Z
                            option(data-sort="name_desc", data-desc="1") Name - Z to A
                            option(data-sort="type") Type
                    #backpack.null
                        .bpscroll
                            .bpshell
                        .bpnav.null
                            a.nav.prev(href="#") &lt;
                            .non.prev &lt;
                            .count
                            a.nav.next(href="#") &gt;
                            .non.next &gt;
                    #trades.null
                        | Hello, this is #trades.

                #channels
                    .button-bar
                        a(href="#", class="small-button", data-channel-name="commodities") Commodites
                        a(href="#", class="small-button", data-channel-name="promos") Promos
                        a(href="#", class="small-button", data-channel-name="unusual_hats") Unusual Hats
                        a(href="#", class="small-button", data-channel-name="vintage_hats") Vintage Hats
                    .chscroll
                        | this is the channel area


            #site.unit.size1of5.lastUnit
                h1 tf2 trade chan
                #message

                span#login.null
                    | Safe and Secure Login with Steam
                    a(href='/authenticate')
                        img(src='http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_small.png', height=23, width=154)
                span#logout.null
                    a.small-button(href='/logout') logout



