!!! 5
html(lang="en")
  head
    != SocketStream
    title TF2 Trade Chan
  body
    #tooltip.null
      div.name
      div.level
      div.crafter
      div.killeater
      div.positive
      div.negative
      div.alt
      div.neutral
      div.limiteduse
      div.untradable
      div.ctrl


    div.w49.float-left
      h1 tf2 trade chan
      #message
    #user-tools.w49.float-right
      span#login.null
        | Safe and Secure Login with Steam
        a(href='/authenticate')
          img(src='http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_small.png')
      span#logout.null
        a.small-button(href='/logout') logout
    .clear-both


    table#user-container.null
      tr
        td
          #backpack-container
            h2#backpack-title your backpack
            .sw
              #backpack-help.pb1 Drag items into your trades.  Double-click works, too.
              #backpack-msg
              .w
                #backpack
        td(rowspan=2)
          #trades-container
            h2#trades-title your trades
            .sw
              #trades-help.pb1
                | Remove items by double click.  Cycle wishlist item quality with single click.
              #trades-msg
              .w
                #trades
      tr
        td
          #chooser-container
            h2#chooser-title more stuff
            .sw
              #chooser-help.pb1 Drag items you want into your trades.  Double-click works, too.
              #chooser-msg
              .w
                #chooser
