span.filter.title Filter:

select.filter
    option(data-filter="*") All
    option(data-filter=".commodity", data-group="commodities") Commodities
    option(data-filter=".promo", data-group="promos") Promos
    option(data-filter=".wearable", data-group="hats") Hats and Wearables
    option(data-filter=".weapon", data-group="weapons") Weapons
    option(data-filter="") ---
    option(data-filter=".vintage", data-group="tradables", data-quality="3") Vintage
    option(data-filter=".vintage.wearable", data-group="vintage_hats", data-quality="3") Vintage Hats
    option(data-filter=".vintage.weapon", data-group="vintaage_weapons", data-quality="3") Vintage Weapons
    option(data-filter="") ---
    option(data-filter=".unusual", data-group="tradables", data-quality="5") Unusual
    option(data-filter=".unusual.wearable", data-group="unusual_hats", data-quality="5") Unusual Hats
    option(data-filter=".unusual.weapon", data-group="unusual_weapons", data-quality="5") Unusual Weapons
    option(data-filter="") ---
    option(data-filter=".genuine", data-group="tradables", data-quality="1") Genuine
    option(data-filter=".genuine.wearable", data-group="genuine_hats", data-quality="1") Genuine Hats
    option(data-filter=".genuine.weapon", data-group="genuine_weapons", data-quality="1") Genuine Weapons
    option(data-filter="") ---
    option(data-filter=".strange.weapon") Strange Weapons
    option(data-filter="") ---
    option(data-filter=".scout") Scout
    option(data-filter=".soldier") Soldier
    option(data-filter=".pyro") Pyro
    option(data-filter=".demoman") Demoman
    option(data-filter=".heavy") Heavy
    option(data-filter=".engineer") Engineer
    option(data-filter=".medic") Medic
    option(data-filter=".sniper") Sniper
    option(data-filter=".spy") Spy
    option(data-filter="") ---
    option(data-filter=".allclass") All Class


span.sort.title Sort:
select.sort
    option(data-simple="1", data-sort="*") Original
    option(data-sort="quality") Quality
    option(data-sort="date") Date - Oldest to Newest
    option(data-sort="date_desc", data-desc="1") Date - Newest to Oldest
    option(data-sort="level") Level - Low to High
    option(data-sort="level_desc", data-desc="1") Level - High to Low
    option(data-simple="1", data-sort="name") Name - A to Z
    option(data-simple="1", data-sort="name_desc", data-desc="1") Name - Z to A
    option(data-simple="1", data-sort="type") Type
